@use 'src/styles/variables';

:host {
  display: inline-block;
}

.cell {
  display: inline-block;
  height: 24px;
  width: 24px;
  cursor: pointer;

  &.red {
    background-color: variables.$cell-color-red;
  }

  &.blue {
    background-color: variables.$cell-color-blue;
  }

  &.green {
    background-color: variables.$cell-color-green;
  }

  &.yellow {
    background-color: variables.$cell-color-yellow;
  }
}